<h4 class="page-header">Edit User Account</h4>

<%= form_for @business do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br/>
	<%= f.label :phone_number %>
	<%= f.text_field :phone_number %>
	<br/>
	<%= f.label :image %>
	<%= f.input :image %>
	<br/>
	<%= f.label :email %>
	<%= f.email_field :email %>
	<br/>
	<%= f.label :password %>
	<%= f.password_field :password %>
	<br/>
	<%= f.submit "Edit Account!", class: 'btn btn-primary' %>
<% end %>