<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="well">
  <div class="field business-listing">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "4" %>
  </div>
  <div class="field business-listing">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="field business-listing">
    <%= f.label :featured %>
    <%= f.check_box :featured %>
  </div>
  <div class="field business-listing">
    <%= f.label :redeemable %>
    <%= f.check_box :redeemable %>
  </div>
  <div class="field business-listing">
   <%= f.label :starts_at, "Day to begin running the deal" %>
   <%= f.date_select :starts_at %>
   <%= f.label :starts_at, "Time to start on" %>
   <%= f.time_select :starts_at, :ignore_date => true %>
   <%= f.label :ends_at, "Day to end the deal" %>
   <%= f.date_select :ends_at %>
   <%= f.label :ends_at, "Time to end on" %>
   <%= f.time_select :ends_at, :ignore_date => true %>
  </div>
  <div class="actions business-listing">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
</div>
