<h3 class="page-header">Your Favorites</h3>

<% @businesses.each do |business| %>
<div class="business-listing well">
	<h3><%= business.name %></h3>
	<p>Phone Number: <%= business.phone_number %></p>
	<p>Address: <%= business.address %></p>
	<%= image_tag business.image.url, class: 'business-image' %>
	<% business.deals.each do |deal| %>
		  <div class="deal"> 
		    <%= deal.description %>
		  	<%= link_to "Bookmark", bookmark_deal_path(id: deal.id), method: 'post' %>
		    <% if deal.redeemable %>
		    	<%= link_to "Redeem", redeem_deal_path(deal), class: 'btn'%>
		    <% end %>
		    <span>Ends <%= deal.ends_at.to_date.strftime("%B %d, %Y") %> at <%= deal.ends_at.hour %></span>
		  </div>
	<% end %>
</div>
<% end %>