<h1>Deals</h1>

<% @featured.each do |feature| %>
	<div class="featured-deal">
		<p>feature.description</p>
	</div>
<% end %>
<br/>

<% @businesses.each do |business| %>
<div class="business-listing well">
	<h3><%= business.name %></h3>
	<p>Phone Number: <%= business.phone_number %></p>
	<%= image_tag business.image.url %>
	<% business.deals.each do |deal| %>
		<% if !deal.featured %>
		  <div class="deal"> 
		    <%= deal.description %>
		    <%= deal.picture %>
		  </div>
		<% end %>
	<% end %>
</div>
<% end %>

<% if business_logged_in? %>
	<%= link_to 'New Deal', new_deal_path %>
<% end %>
