

<h2 class="page-header">Featured Deals</h2>
<% @featured.each do |feature| %>
	<div class="featured-deal">
		<p><%= feature.description %></p>
	</div>
<% end %>
<br/>


<h2 >Today's Deals</h2>
<% @businesses.each do |business| %>
<div class="business-listing well">
	<h3 class="body-font"><%= link_to "#{business.name}", business_path(business) %></h3>
	<%= image_tag business.image.url, class: 'business-image'  %>
	<p class="body-font phone">   Phone Number: <%= business.phone_number %></p>
	<address class="body-font address">   Address: <%= business.address %></address>
	<i class="icon-star"></i>
	<%= link_to "Favorite", favorite_business_path(id: business.id), method: 'post', class: 'body-font' %>
	<% business.deals.each do |deal| %>
		<% if !deal.featured %>
		  <div class="deal"> 
		    <%= deal.description %>
		    <%= deal.picture %>
		    <%= link_to "Bookmark", bookmark_deal_path(id: deal.id), method: 'post' %>
		  </div>
		<% end %>
	<% end %>
</div>
<% end %>

<% if business_logged_in? %>
	<%= link_to 'New Deal', new_deal_path %>
<% end %>
