<h3><%= current_user.name %>'s Deals</h3>
<h4 class="page-header">Prepaid</h4>
<% @purchased_deals.each do |deal| %>
	<div class="deal"> 
		    <%= deal.description %>
		    <%= image_tag deal.image.url %>
		    <span>Ends <%= deal.ends_at.to_date.strftime("%B %d, %Y") %> at <%= deal.ends_at.hour %></span>
	</div>
<% end %>

<h4 class="page-header">Bookmarked</h4>
<% @bookmarked_deals.each do |deal| %>
	<div class="deal"> 
		    <%= deal.description %>
		    <%= image_tag deal.image.url %>
		    <%= link_to "Bookmark", bookmark_deal_path(deal), method: 'post' %>
		    <span>Ends <%= deal.ends_at.to_date.strftime("%B %d, %Y") %> at <%= deal.ends_at.hour %></span>
	</div>
<% end %>